.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #4cae4c;
}

#contact-form{
    background-color: transparent;
    border: 4px white solid;
    border-radius: 22px;
    padding: 2%;
    width: 50%;
    animation: fadeInUp 1s ease-out;
}

label{
    font-size: 25px;
}

.fakeTextArea{
    height:150px;
    word-break: break-word;
}

input::placeholder {
    font-family: 'Arial', sans-serif;
    color: #444444;
  }

  @keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}